.question {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #fff;
  }
  
  .answers {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .answer-button {
    background-color: #f5be18;
    color: #fff;
    border: none;
    padding: 15px 20px;
    margin: 8px 0px;
    cursor: pointer;
    font-size: 20px;
    width: 50%;
    text-align: center;
  }
  
  .answer-button:hover {
    background-color: #003366;
  }
  
  .correct-answer-button {
    background-color: #009900;
  }
  
  .incorrect-answer-button {
    background-color: #ff3333;
  }

  button {
    background-color: #f5be18;
    color: #fff;
    border: none;
    padding: 15px 30px;
    cursor: pointer;
    font-size: 18px;
    margin-top: 20px;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  .icon {
    font-size: 36px;
  }