<div *ngIf="dataQuiz">
    <h1>Quiz {{ nameCategory }}</h1>
    <div *ngIf="!isLastQuestion">
        <app-question [question]="currentQuestion"></app-question>
        <app-answer [answers]="currentQuestion.answers" (answer)="checkAnswer($event)"></app-answer>
    </div>

</div>
<div class="results" *ngIf="isLastQuestion">
    <div class="score">
        <h2>Votre score est de {{ score }} / {{ dataQuiz.length }}</h2>
    </div>

    <button routerLink="/welcome">
        Recommencer <fa-icon [icon]="faFutbol"></fa-icon>
    </button>
</div>