<h1>Inscription</h1>
<form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <label for="username">Pseudo :</label>
    <input type="text" id="username" name="username" formControlName="username" required>

    <label for="motdepasse">Mot de passe :</label>
    <input type="password" id="password" name="password" formControlName="password" required>

    <label for="confirmerMotdepasse">Confirmez le mot de passe :</label>
    <input type="password" id="confirmPassword" name="confirmPassword" formControlName="confirmPassword" required>

    <p *ngIf="registerForm.invalid && (registerForm.touched || registerForm.dirty)">
        {{ getErrorLabel }}
      </p>

    <button type="submit" [disabled]="registerForm.invalid">S'inscrire</button>
</form>