/* welcome.component.css */
.welcome-container {
  background-color: rgba(255, 255, 255, 0.1); /* Fond légèrement transparent */
  color: #fff;
  text-align: center;
  padding: 20px;
  border-radius: 10px; /* Coins arrondis pour le conteneur */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Ombre légère pour le conteneur */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 80vh; /* Hauteur minimale de 80% de la vue */
}

button {
  background-color: #f5be18;
  color: #fff;
  border: none;
  padding: 15px 30px; /* Augmentez la taille du bouton */
  cursor: pointer;
  font-size: 18px; /* Augmentez la taille de la police */
  margin-top: 20px;
}

button:hover {
  background-color: #0056b3;
}

/* Style pour l'icône (par exemple, une icône de football) */
.icon {
  font-size: 36px; /* Ajustez la taille de l'icône selon vos besoins */
}
